<!doctype html>
<html>
  <head>
    <link href="./assets/styles.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="./assets/stanford_up_favicon.png">
    <link rel="apple-touch-icon" href="./assets/stanford_up_favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <div class="container"><span class="logo"><img src="./assets/sup_logo.svg"></span><span class="colophon"><img src="./assets/stanford_up_logo.svg" width="50" height="50"></span></div>
    </header>

    <h1 class="title center">Stanford Digital Publication Web Archives</h1>

    <article>
    {% for project in projects %}
      <div class="entry">
        <a href="./{{ project.filename }}">
        <h2 class="center">{{ project.title }}</h2>
        <span class="proj"><img src="{{ project.thumbUrl }}"></span>
        </a>
      </div>
    {% endfor %}
    </article>
  </body>
</html>
