<!doctype html>
<html>
  <head>
    <script src="{{ rwp_prefix }}/ui.js"></script>
    <link href="./assets/styles.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <a class="back-link" href="./"><img class="back" src="./assets/left-arrow.svg"/></a>
      <div class="heading">
        <div class="title">{{ project.title }}</div>
        <span class="subtitle">Web Archive{{ ' with Text Search' if project.hasText else '' }}</span>
      </div>
      <span class="logo"><img src="./assets/sup_logo.svg"></span>
    </header>
    <replay-web-page
      coll="{{ project.embed.id }}"
      {% if project.embed.config %}
      config='{{ project.embed.config | tojson }}'
      {% endif %}
      replayBase="./replay/"
      {% if project.embed.deepLink %}
      deepLink="true"
      {% endif %}
      noSandbox="true"
      source="{{ project.embed.sourceUrl }}"
      liveRedirectOnNotFound="true"
      url="page:0"
      ts="{{ project.embed.ts }}">
    </replay-web-page>
  </body>
</html>
