<!doctype html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/replaywebpage@1.0.2/ui.js"></script>
    <link href="./assets/styles.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <a class="back-link" href="/"><img class="back" src="/assets/left-arrow.svg"/></a>
      <div class="heading">
        <div class="title">{{ project.title }}</div>
        <span class="subtitle">Web Archive</span>
      </div>
      <span class="logo"><img src="/assets/sup_logo.svg"></span>
    </header>
    <replay-web-page
      coll="{{ project.embed.id }}"
      {% if project.embed.config %}
      config='{{ project.embed.config | tojson }}'
      {% endif %}
      {% if project.embed.deepLink %}
      deepLink="true"
      {% endif %}
      source="{{ project.embed.sourceUrl }}"
      url="{{ project.embed.url }}"
      ts="{{ project.embed.ts }}">
    </replay-web-page>
  </body>
</html>
